@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --neutral-almost-white: hsl(0, 0%, 98%);
    --neutral-medium-gray: hsl(0, 0%, 41%);
    --neutral-almost-black: hsl(0, 0%, 8%);
}

* {
    font-family: 'Epilogue', sans-serif;
}

body {
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--neutral-almost-white);
}

header {
    box-sizing: border-box;
    height: 4rem;
    padding: 2rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.desktop-nav {
    display: none;
}

.login {
    display: none;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

picture {
    height: 100%;
    width: 100%;
}

#hero {
    width: 100%;
    height: 100%;
    flex: 1;
}

.content {
    flex: 1;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.content h1 {
    margin-bottom: 0;
}

.content p {
    text-align: center;
    color: var(--neutral-medium-gray);
    ;
}

.content button {
    color: white;
    background-color: black;
    width: 35%;
    height: 2.5rem;
    border: none;
    border-radius: 9px;
    align-self: center;
    margin-bottom: 2rem;
}

.content button:hover {
    cursor: pointer;
    color: var(--neutral-almost-black);
    background-color: white;
    border: 1px solid var(--neutral-almost-black);
}

#clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 4rem;
}

#clients img {
    width: 4rem;
    height: 2rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .mobile-links {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background-color: white;
    z-index: 2;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    font-size: .9rem;
    color: var(--neutral-medium-gray);
  }
  #close-menu{
    margin-left : auto;
    margin-bottom: 1rem;
  }
  .mobile-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
  }
  .mobile-login{
    text-align: center;
    gap: 1rem;
  }
  #register {
    border: 2px solid var(--neutral-medium-gray);
    padding: 1rem;
    padding-inline: 1.5rem;
    border-radius: 20px;
}
#mobile-features-menu{
    display: none;
    flex-direction: column;
    margin-left:1rem;
    line-height: .7;
}
#mobile-company-menu{
    display: none;
    flex-direction: column;
    margin-left:1rem;
    line-height: .7;
}
.menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;    
  }


@media (min-width:50em) {
    #hero {
        content: url(./images/image-hero-desktop.png);
        width: 90%;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        align-items: center;
        height: 100%;
        color: var(--neutral-medium-gray);
    }

    .desktop-nav {
        display: flex;
        gap: 2rem;
        font-size: .9rem;
    }

    .nav-link:hover {
        cursor: pointer;
        color: var(--neutral-almost-black);
    }

    .nav-link img:active {
        content: url(./images/icon-arrow-up.svg);
    }

    #login:hover {
        cursor: pointer;
        color: var(--neutral-almost-black);
    }

    #register:hover {
        cursor: pointer;
        color: var(--neutral-almost-black);
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .2rem;
        position: relative;
    }
    .dropdown-toggle-up{
        content: url(./images/icon-arrow-up.svg
        );
    }
    .dropdown-toggle-down{
        content: url(./images/icon-arrow-down.svg);
    }
    .features-menu{
        display: none;
        position: absolute;
        top: 7%;
        left: 5%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        padding: 1rem;
        padding-top: .3rem;
        flex-direction: column;
        width: 7rem;
        height: 7.5rem;
        font-size: .8rem;
        line-height: .5;
    }

      .menu-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        
      }
      .menu-item img{
        height: 15px;
        width: 13px;
      }
      .menu-item:hover{
        cursor: pointer;
        color: var(--neutral-almost-black);
      }
    .company-menu{
        display: none;
        position: absolute;
        top: 7%;
        left: 18%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        padding: 1rem;
        padding-top: .3rem;
        flex-direction: column;
        width: 4rem;
        height: 5rem;
        font-size: .8rem;
        line-height: .5;
    }
    .company-menu p:hover{
        cursor: pointer;
        color: var(--neutral-almost-black);
    }

    .login {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }


    .mobile-menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70vh;
        margin-top: 3rem;
        gap: 9rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        height: 100%;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content p {
        text-align: left;
        padding-right: 6rem;
    }

    #clients {
        margin-bottom: 0;
        justify-content: start;
        gap: 2rem;
    }

    #clients img {
        width: 6rem;
        height: 1.5rem;
    }

    .content button {
        align-self: flex-start;
        width: 9rem;
    }
    .show-menu {
        display: flex;
      }
      .black{
        color: var(--neutral-almost-black);
      }
}